<ion-view view-title="Drill Employee Count">
    <ion-content >
        <div class="list animate-blinds">
            <a ui-sref="app.valves" class="item item-avatar item-icon-left">
                <i class="icon fa fa-cog" aria-hidden="true"></i>
                <h2>Manage Valves</h2>
                <p>Open & Close Valves</p>
            </a>
            <a ui-sref="app.map" class="item item-avatar item-icon-left">
                <i class="icon fa fa-map" aria-hidden="true"></i>
                <h2>Map</h2>
                <p>View location of valves.</p>  
            </a>
        </div>
    </ion-content>
</ion-view>
